target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/**/workspace.xml
**/*.class

### log ###
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn

### allure ###
allure-results
allure-report/
.allure/allure-2.30.0

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Windows ###
Thumbs.db
ehthumbs.db

# Maven specific
target/
dependency-reduced-pom.xml
build.log
.mvn/timing.properties
mvnw*

# Gradle specific
.gradle/
build/
*.gradle[.kts]
gradle-app.setting

# Temporary and test files
.cache/
.pytest_cache/
*.pid
*.seed
*.pid.lock